@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* colors */
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    /* fonts */
    --Raleway: 'Raleway', sans-serif;
    --Open-Sans: 'Open Sans', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--Open-Sans);
    font-size: .825rem;
    margin: 20px;
    color: var(--Very-Dark-Blue);
}
header img {
    width: 100px;
}
header span {
    margin: 0 5px;
}
.first-section img {
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 50px 0 20px;
}
.first-section-desc {
    text-align: center;
}
.first-section-desc h1 {
    font-family: var(--Open-Sans);
    padding: 20px;
    color: var(--Very-Dark-Blue);
}
.first-section-desc p {
    font-family: var(--Open-Sans);
    padding: 0 50px;
    font-size: .825rem;
    color: var(--Very-Dark-Blue);
}
.first-section-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.first-section-subscription::before {
    position: absolute;
    left: 15%;
    content: attr(data-tooltip);
    font-family: var(--Open-Sans);
    font-size: .825rem;
    color: pink;
    scale: 0;
    transition: .5s;
}
.first-section-subscription:hover::before {
    scale: 1;
}
.first-section-subscription input {
    width: 270px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid var(--Desaturated-Blue);
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}
.first-section-subscription input:placeholder-shown {
    font-family: var(--Raleway);
    font-size: .625rem;
    color: var(--Light-Gray);
}
.first-section-subscription input:invalid {
    border: 2px solid pink;
}
.first-section-subscription button {
    width: 270px;
    height: 35px;
    background-color: var(--Bright-Blue);
    border: none;
    border-radius: 3px;
    font-family: var(--Raleway);
    font-weight: 700;
    color: white;
    box-shadow: 0px 3px 3px 1px hsla(240, 57%, 93%, 0.753);
}
.first-section-subscription button:hover {
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}
.section-background {
    background-image: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 50px;
    margin-top: 50px;
}
.second-section {
    background-color: var(--Light-Grayish-Blue);
    text-align: start;
    padding: 10px;
}
.second-section img {
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 50px 0 20px;
}
.second-section h2 {
    font-family: var(--Raleway);
    font-size: 1rem;
    text-align: center;
    color: var(--Very-Dark-Blue);
}
.second-section p {
    font-family: var(--Open-Sans);
    font-size: .825rem;
    color: var(--Desaturated-Blue);
    margin: 20px 10px;
}
.fylo-workflow {
    display: flex;
    justify-content: center;
}
.fylo-workflow-page {
    display: flex;
    border-bottom: 2px solid var(--Moderate-Cyan);
    height: 45px;
    text-align: start;
}
.fylo-workflow-page p {
    font-family: var(--Open-Sans);
    font-size: .825rem;
    color: var(--Moderate-Cyan);
    margin-left: 0px;
}
.fylo-workflow-page img {
    position: relative;
    right: 20%;
    bottom: 70%;
    width: 20px;
}
.fylo-workflow:hover {
    cursor: pointer;
    opacity: .6;
    transition: .3s;
}
.testimonial-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial {
    margin: 50px 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 280px;
    padding: 20px 10px;
    box-shadow: 0px 3px 3px 1px hsla(240, 57%, 93%, 0.753);
}
.testimonial-quote img {
    width: 15px;
    margin-left: -110px;
    margin-top: 0;
}
.testimonial-p p {
    font-family: var(--Open-Sans);
    font-size: .65rem;
    color: var(--Very-Dark-Blue);
    margin-top: -10px;
    margin-bottom: 10px;
    width: 230px;
}
.testimonial-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    margin-bottom: -20px;
}
.testimonial-avatar img {
    width: 30px;
    border-radius: 50%;
    margin-left: -70px;
    margin-top: 0px;
}
.testimonial-profile {
    margin-left: -20px;
}
.testimonial-profile h6 {
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: .625rem;
    margin-left: -25px;
}
.testimonial-profile p {
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: .48rem;
    color: var(--Very-Dark-Blue);
    margin-left: -25px;
    margin-top: 0px;
}
.third-section {
    background-color: var(--Desaturated-Blue);
    text-align: center;
    padding: 50px 20px;
}
.third-section h3 {
    font-family: var(--Raleway);
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
}
.third-section p {
    font-family: var(--Open-Sans);
    color: white;
    font-size: .9rem;
    padding: 0 20px;
}
.third-section-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
}
.third-section-subscription::before {
    position: absolute;
    left: 15%;
    content: attr(data-tooltip);
    font-family: var(--Open-Sans);
    font-size: .825rem;
    color: pink;
    scale: 0;
    transition: .5s;
}
.third-section-subscription:hover::before {
    scale: 1;
}
.third-section-subscription input {
    width: 270px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid var(--Desaturated-Blue);
    margin-bottom: 15px;
    padding: 10px;
}
.third-section-subscription input:placeholder-shown {
    font-family: var(--Raleway);
    font-size: .625rem;
    color: var(--Light-Gray);
}
.third-section-subscription input:invalid {
    border: 2px solid pink;
}
.third-section-subscription button {
    width: 270px;
    height: 35px;
    background-color: var(--Bright-Blue);
    border: none;
    border-radius: 3px;
    font-family: var(--Raleway);
    font-weight: 700;
    color: white;
}
.third-section-subscription button:hover {
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}
footer {
    background-color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    padding: 50px 30px;
}
.fylo-contacts {
    margin: 20px 0 50px;
}
.fylo-contacts-phone {
    display: flex;
    gap: 1rem;
    margin: 10px 0;
}
.fylo-contacts-phone p {
    font-family: var(--Open-Sans);
    font-size: 1rem;
}   
.fylo-contacts-email {
    display: flex;
    gap: 1rem;
    margin: 20px 0 10px;
}
.fylo-contacts-email p {
    font-family: var(--Open-Sans);
    font-size: 1rem;
}
nav.fylo-info {
    display: inline-flex;
    justify-content: flex-start;
}
.fylo-info span:hover {
    cursor: pointer;
    color: var(--Bright-Blue);
    transition: .3s;
}
.fylo-features {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--Open-Sans);
    font-size: 1rem;
}
.fylo-terms {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--Open-Sans);
    font-size: 1rem;
    margin-top: 200px;
    margin-left: -67px;
    margin-bottom: 50px;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.social-facebook {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #83a3fa;
}
.social-facebook:hover {
    cursor: pointer;
    filter: invert(58%) sepia(52%) saturate(542%) hue-rotate(190deg) brightness(101%) contrast(96%);
    transition: .3s;
}
.social-twitter {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-twitter:hover {
    cursor: pointer;
    filter: invert(58%) sepia(52%) saturate(542%) hue-rotate(190deg) brightness(101%) contrast(96%);
    transition: .3s;
}
.social-instagram {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-instagram:hover {
    cursor: pointer;
    filter: invert(58%) sepia(52%) saturate(542%) hue-rotate(190deg) brightness(101%) contrast(96%);
    transition: .3s;
}




@media (min-width: 500px) {
    header {
        margin: 50px;
    }
    header img {
        width: 100%;
    }
    header span {
        margin: 0 20px;
        font-size: 1rem;
    }
    .first-section {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 100px;
    }
    .first-section img {
        width: 80%;
    }
    .first-section-desc {
        text-align: left;
        margin-top: 100px;
    }
    .first-section-desc h1 {
        font-size: 2rem;
        padding-right: 250px;
        margin-left: 30px;
    }
    .first-section-desc p {
        font-size: 1rem;
        padding-right: 350px;
    }
    .first-section-subscription {
        display: flex;
        flex-direction: row;
        margin-left: -320px;
    }
    .first-section-subscription button {
        width: 200px;
        margin-top: -15px;
        margin-left: 20px;
    }
    .first-section-subscription::before {
        top: 68%;
        left: 3%;
    }
    .section-background {
        background-image: url(images/bg-curve-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 100px;
    }
    .second-section {
        display: flex;
        flex-direction: row-reverse;
    }
    .second-section-div-desc {
        margin: 50px 50px;
    }
    .second-section h2 {
        margin-left: -150px;
        font-size: 2rem;
    }
    .second-section-desc p {
        font-size: 1rem;
        padding: 0 50px;
        margin-left: -50px;
    }
    .second-section-image img {
        width: 60%;
        margin-left: 70px;
    }
    .fylo-workflow {
        justify-content: left;
    }
    .testimonial-section {
        justify-content: left;
    }
    .third-section {
        display: flex;
        justify-content: space-between;
    }
    .third-section-div-desc {
        text-align: start;
    }
    .third-section-div-desc h3 {
        font-size: 1.825rem;
        margin: 20px 50px;
    }
    .third-section-div-desc p {
        font-size: 1rem;
        width: 550px;
        margin: 0 35px;
    }
    .third-section-subscription input {
        width: 350px;
    }
    .third-section-subscription button {
        width: 150px;
        margin-right: 200px;
    }
    .third-section-subscription {
        margin-right: 80px;
    }
    .third-section-subscription::before {
        left: 72%;
    }
    footer {
        padding: 80px 80px 80px 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .fylo-info {
        margin-top: 80px;
        margin-left: 100px;
    }
    .fylo-terms {
        margin-top: 0px;
        margin-left: 150px;
    }
    .socials {
       margin-top: -20px;
    }
}